src/solution/Workflows/ChildFlow-ErrorReceived-8D5DB0D0-FD13-F111-8341-000D3AD482D2.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "api": {
          "name": "shared_commondataserviceforapps"
        },
        "connection": {
          "connectionReferenceLogicalName": "ol_CRDataverse"
        },
        "runtimeSource": "embedded"
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        }
      },
      "triggers": {
        "manual": {
          "type": "Request",
          "kind": "Button",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "text": {
                  "title": "sourceAction",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "sourceAction",
                  "x-ms-content-hint": "TEXT"
                },
                "text_1": {
                  "title": "sourceURL",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "sourceURL",
                  "x-ms-content-hint": "TEXT"
                },
                "text_2": {
                  "title": "sourceContext",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "sourceContext",
                  "x-ms-content-hint": "TEXT"
                },
                "text_3": {
                  "description": "emailRequired",
                  "title": "emailRequired",
                  "type": "string",
                  "x-ms-content-hint": "TEXT",
                  "x-ms-dynamically-added": true
                }
              },
              "required": [
                "text",
                "text_1"
              ]
            }
          },
          "metadata": {
            "operationMetadataId": "cdd3a191-5871-4977-81fe-4c9c850d1717"
          }
        }
      },
      "actions": {
        "Scope_-_Main": {
          "type": "Scope",
          "actions": {
            "Add_a_new_row_-_GRAIL_Error_Logs": {
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "entityName": "ol_grailerrorlogs",
                  "item/ol_action": "@triggerBody()?['text']",
                  "item/ol_context": "@triggerBody()?['text_2']",
                  "item/ol_link": "@triggerBody()?['text_1']",
                  "item/ol_source": "Flow"
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                  "operationId": "CreateRecord",
                  "connectionName": "shared_commondataserviceforapps"
                }
              }
            },
            "Condition_-_emailRequired": {
              "type": "If",
              "expression": {
                "and": [
                  {
                    "equals": [
                      "@triggerBody()?['text_3']",
                      "Yes"
                    ]
                  }
                ]
              },
              "actions": {
                "PLACEHOLDER_-_Send_Email_Step": {
                  "type": "Compose",
                  "inputs": "@null",
                  "metadata": {
                    "operationMetadataId": "3abdf969-4133-400b-92f5-9590a95557ca"
                  }
                }
              },
              "else": {
                "actions": {}
              },
              "runAfter": {
                "Add_a_new_row_-_GRAIL_Error_Logs": [
                  "Succeeded"
                ]
              }
            },
            "Respond_to_a_Power_App_or_flow_-_200_OK": {
              "type": "Response",
              "kind": "PowerApp",
              "inputs": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "responsecode": {
                      "title": "responseCode",
                      "type": "string",
                      "x-ms-content-hint": "TEXT",
                      "x-ms-dynamically-added": true
                    },
                    "responsedescription": {
                      "title": "responseDescription",
                      "type": "string",
                      "x-ms-content-hint": "TEXT",
                      "x-ms-dynamically-added": true
                    }
                  },
                  "additionalProperties": {}
                },
                "statusCode": 200,
                "body": {
                  "responsecode": "200",
                  "responsedescription": "OK"
                }
              },
              "runAfter": {
                "Condition_-_emailRequired": [
                  "Succeeded"
                ]
              }
            }
          },
          "runAfter": {}
        },
        "Scope_-_Error_Handling": {
          "type": "Scope",
          "actions": {
            "Terminate_-_Failed_Main_Scope": {
              "type": "Terminate",
              "inputs": {
                "runStatus": "Failed"
              },
              "runAfter": {
                "Send_Email_Error_Handling_Failure": [
                  "Succeeded"
                ]
              }
            },
            "Send_Email_Error_Handling_Failure": {
              "type": "Compose",
              "inputs": "@null",
              "metadata": {
                "operationMetadataId": "3abdf969-4133-400b-92f5-9590a95557ca"
              }
            }
          },
          "runAfter": {
            "Scope_-_Main": [
              "Failed"
            ]
          }
        }
      }
    },
    "templateName": null
  },
  "schemaVersion": "1.0.0.0"
}