src/solution/Workflows/ChildFlow-CalculateDueDates-8E5D4076-0917-F111-8342-7C1E52030D20.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "api": {
          "name": "shared_commondataserviceforapps"
        },
        "connection": {
          "connectionReferenceLogicalName": "ol_CRDataverse"
        },
        "runtimeSource": "embedded"
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        }
      },
      "triggers": {
        "manual": {
          "type": "Request",
          "kind": "Button",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "text": {
                  "title": "ol_gr_taskid",
                  "type": "string",
                  "x-ms-dynamically-added": true,
                  "description": "ol_gr_taskid - GRAIL Task GUID",
                  "x-ms-content-hint": "TEXT"
                }
              },
              "required": [
                "text"
              ]
            }
          },
          "metadata": {
            "operationMetadataId": "e69e2834-f317-4037-bda1-0b9b1defb92a"
          }
        }
      },
      "actions": {
        "Scope_-_Main": {
          "type": "Scope",
          "actions": {
            "Get_a_row_by_ID_-_GRAIL_Tasks": {
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "entityName": "ol_gr_tasks",
                  "recordId": "@triggerBody()?['text']",
                  "x-ms-odata-metadata-full": false,
                  "$select": "createdon,ol_priority,ol_duedate"
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                  "operationId": "GetItem",
                  "connectionName": "shared_commondataserviceforapps"
                }
              }
            },
            "Condition_-_Use_Fast_Method": {
              "type": "If",
              "expression": {
                "and": [
                  {
                    "equals": [
                      true,
                      true
                    ]
                  }
                ]
              },
              "actions": {
                "Select_-_Date_Array_Fast": {
                  "type": "Select",
                  "inputs": {
                    "from": "@range(0,90)",
                    "select": "@formatDateTime(addDays(outputs('Compose_-_Start_Date'),item()),'yyyy-MM-dd')"
                  }
                },
                "Filter_array_-_Fast": {
                  "type": "Query",
                  "inputs": {
                    "from": "@body('Select_-_Date_Array_Fast')",
                    "where": "@not(equals(or(\r\n  equals(dayOfWeek(concat(item(),'T00:00:00Z')),0),\r\n  equals(dayOfWeek(concat(item(),'T00:00:00Z')),6)\r\n),true))"
                  },
                  "runAfter": {
                    "Select_-_Date_Array_Fast": [
                      "Succeeded"
                    ]
                  }
                },
                "Filter_array_-_Holidays_Fast": {
                  "type": "Query",
                  "inputs": {
                    "from": "@body('Filter_array_-_Fast')",
                    "where": "@not(contains(body('Select_-_Date_array_Holidays'),item()))"
                  },
                  "runAfter": {
                    "Filter_array_-_Fast": [
                      "Succeeded"
                    ]
                  }
                },
                "Compose_-_nth_Working_Day_Fast": {
                  "type": "Compose",
                  "inputs": "@body('Filter_array_-_Holidays_Fast')?[add(outputs('Compose_-_WorkingDays'),-1)]",
                  "runAfter": {
                    "Filter_array_-_Holidays_Fast": [
                      "Succeeded"
                    ]
                  }
                }
              },
              "else": {
                "actions": {
                  "Do_until": {
                    "type": "Until",
                    "expression": "@equals(variables('intLoopCount'),30)",
                    "limit": {
                      "count": 60,
                      "timeout": "PT1H"
                    },
                    "actions": {
                      "Increment_variable_-_intLoopCount_by_1": {
                        "type": "IncrementVariable",
                        "inputs": {
                          "name": "intLoopCount",
                          "value": 1
                        },
                        "runAfter": {
                          "Append_to_array_variable_-_arrayLoopDates": [
                            "Succeeded"
                          ]
                        }
                      },
                      "Append_to_array_variable_-_arrayLoopDates": {
                        "type": "AppendToArrayVariable",
                        "inputs": {
                          "name": "arrayLoopDates",
                          "value": "@formatDateTime(addDays(outputs('Compose_-_Start_Date'),variables('intLoopCount')),'yyyy-MM-dd')"
                        }
                      }
                    }
                  },
                  "Filter_array_-_Slow": {
                    "type": "Query",
                    "inputs": {
                      "from": "@variables('arrayLoopDates')",
                      "where": "@not(equals(or(\n  equals(dayOfWeek(concat(item(),'T00:00:00Z')),0),\n  equals(dayOfWeek(concat(item(),'T00:00:00Z')),6)\n),true))"
                    },
                    "runAfter": {
                      "Do_until": [
                        "Succeeded"
                      ]
                    }
                  },
                  "Filter_array_-_Holidays_Slow": {
                    "type": "Query",
                    "inputs": {
                      "from": "@body('Filter_array_-_Slow')",
                      "where": "@not(contains(body('Select_-_Date_array_Holidays'),item()))"
                    },
                    "runAfter": {
                      "Filter_array_-_Slow": [
                        "Succeeded"
                      ]
                    }
                  },
                  "Compose_-_nth_Working_Day_Slow": {
                    "type": "Compose",
                    "inputs": "@body('Filter_array_-_Holidays_Slow')?[add(outputs('Compose_-_WorkingDays'),-1)]",
                    "runAfter": {
                      "Filter_array_-_Holidays_Slow": [
                        "Succeeded"
                      ]
                    }
                  }
                }
              },
              "runAfter": {
                "Select_-_Date_array_Holidays": [
                  "Succeeded"
                ]
              }
            },
            "Update_a_row_-_GRAIL_Task": {
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "entityName": "ol_gr_tasks",
                  "recordId": "@triggerBody()?['text']",
                  "x-ms-odata-metadata-full": false,
                  "item/ol_duedate": "@coalesce(outputs('Compose_-_nth_Working_Day_Fast'),outputs('Compose_-_nth_Working_Day_Slow'))"
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                  "operationId": "UpdateOnlyRecord",
                  "connectionName": "shared_commondataserviceforapps"
                }
              },
              "runAfter": {
                "Condition_-_Use_Fast_Method": [
                  "Succeeded"
                ]
              }
            },
            "List_rows_-_GRAIL_Configurations": {
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "entityName": "ol_grailconfigurations",
                  "$select": "ol_configid,ol_configurationlookup,ol_configurationvalue",
                  "$filter": "ol_configid eq 'TaskPriorityDueDates' and ol_configurationlookup eq '@{outputs('Get_a_row_by_ID_-_GRAIL_Tasks')?['body/ol_priority']}'",
                  "x-ms-odata-metadata-full": false
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                  "operationId": "ListRecords",
                  "connectionName": "shared_commondataserviceforapps"
                }
              },
              "runAfter": {
                "List_rows_-_GRAIL_Holidays": [
                  "Succeeded"
                ]
              }
            },
            "List_rows_-_GRAIL_Holidays": {
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "entityName": "ol_grailholidaies",
                  "$select": "ol_holidayid,ol_date,ol_reason",
                  "$filter": "ol_date ge @{formatDateTime(utcNow(),'yyyy-MM-dd')} and ol_date le @{formatDateTime(addDays(utcNow(),30),'yyyy-MM-dd')}",
                  "x-ms-odata-metadata-full": false
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                  "operationId": "ListRecords",
                  "connectionName": "shared_commondataserviceforapps"
                }
              },
              "runAfter": {
                "Get_a_row_by_ID_-_GRAIL_Tasks": [
                  "Succeeded"
                ]
              }
            },
            "Select_-_Date_array_Holidays": {
              "type": "Select",
              "inputs": {
                "from": "@outputs('List_rows_-_GRAIL_Holidays')?['body/value']",
                "select": "@formatDateTime(item()?['ol_date'],'yyyy-MM-dd')"
              },
              "runAfter": {
                "Compose_-_WorkingDays": [
                  "Succeeded"
                ]
              }
            },
            "Compose_-_Start_Date": {
              "type": "Compose",
              "inputs": "@formatDateTime(body('Get_a_row_by_ID_-_GRAIL_Tasks')?['createdon'],'yyyy-MM-dd')",
              "runAfter": {
                "List_rows_-_GRAIL_Configurations": [
                  "Succeeded"
                ]
              }
            },
            "Compose_-_WorkingDays": {
              "type": "Compose",
              "inputs": "@int(outputs('List_rows_-_GRAIL_Configurations')?['body/value']?[0]?['ol_configurationvalue'])",
              "runAfter": {
                "Compose_-_Start_Date": [
                  "Succeeded"
                ]
              }
            }
          },
          "runAfter": {
            "Initialize_variable_-_arrayLoopDates": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "78550b69-476f-443a-91e8-d8420ce65ec2"
          }
        },
        "Initialize_variable_-_intLoopCount": {
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "intLoopCount",
                "type": "integer"
              }
            ]
          },
          "runAfter": {}
        },
        "Scope_-_Error_Handling": {
          "type": "Scope",
          "actions": {
            "Terminate_-_Failed_Main_Scope": {
              "type": "Terminate",
              "inputs": {
                "runStatus": "Failed"
              },
              "runAfter": {
                "Run_a_Child_Flow": [
                  "Succeeded"
                ]
              }
            },
            "Run_a_Child_Flow": {
              "type": "Workflow",
              "inputs": {
                "host": {
                  "workflowReferenceName": "8d5db0d0-fd13-f111-8341-000d3ad482d2"
                },
                "body": {
                  "text": "@workflow()?['tags']['flowDisplayName']",
                  "text_1": "@concat('https://flow.microsoft.com/manage/environments/', workflow()?['tags']['environmentName'], '/flows/', workflow()?['name'], '/runs/', workflow()?['run']['name'])",
                  "text_3": "Yes"
                }
              },
              "runAfter": {
                "Respond_-_500_Error": [
                  "Succeeded"
                ]
              }
            },
            "Respond_-_500_Error": {
              "type": "Response",
              "kind": "PowerApp",
              "inputs": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "responsecode": {
                      "title": "responseCode",
                      "type": "string",
                      "x-ms-content-hint": "TEXT",
                      "x-ms-dynamically-added": true
                    },
                    "responsedescription_": {
                      "title": "responseDescription ",
                      "type": "string",
                      "x-ms-content-hint": "TEXT",
                      "x-ms-dynamically-added": true
                    }
                  },
                  "additionalProperties": {}
                },
                "statusCode": 200,
                "body": {
                  "responsecode": "500",
                  "responsedescription_": "Error"
                }
              }
            }
          },
          "runAfter": {
            "Scope_-_Main": [
              "Failed"
            ]
          }
        },
        "Initialize_variable_-_arrayLoopDates": {
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "arrayLoopDates",
                "type": "array"
              }
            ]
          },
          "runAfter": {
            "Initialize_variable_-_intLoopCount": [
              "Succeeded"
            ]
          }
        },
        "Respond_-_200_Success": {
          "type": "Response",
          "kind": "PowerApp",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "responsecode": {
                  "title": "responseCode",
                  "type": "string",
                  "x-ms-content-hint": "TEXT",
                  "x-ms-dynamically-added": true
                },
                "responsedescription_": {
                  "title": "responseDescription ",
                  "type": "string",
                  "x-ms-content-hint": "TEXT",
                  "x-ms-dynamically-added": true
                }
              },
              "additionalProperties": {}
            },
            "statusCode": 200,
            "body": {
              "responsecode": "200",
              "responsedescription_": "Success"
            }
          },
          "runAfter": {
            "Scope_-_Main": [
              "Succeeded"
            ]
          }
        }
      }
    },
    "templateName": null
  },
  "schemaVersion": "1.0.0.0"
}