src/solution/Workflows/HTTPFlow-GetTask-76678E12-9E18-F111-8342-7C1E52030D20.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "api": {
          "name": "shared_commondataserviceforapps"
        },
        "connection": {
          "connectionReferenceLogicalName": "ol_CRDataverse"
        },
        "runtimeSource": "embedded"
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        }
      },
      "triggers": {
        "manual": {
          "type": "Request",
          "kind": "Http",
          "inputs": {
            "triggerAuthenticationType": "All",
            "schema": {
              "type": "object",
              "properties": {
                "taskId": {
                  "type": "string"
                }
              }
            },
            "method": "GET",
            "relativePath": "grail/{apiVersion}/tasks/{taskId}"
          },
          "metadata": {
            "operationMetadataId": "4d7c188f-f947-4c2b-963c-347ce222fc01"
          }
        }
      },
      "actions": {
        "Scope_-_Main": {
          "type": "Scope",
          "actions": {
            "Switch_1": {
              "type": "Switch",
              "expression": "@toLower(triggerOutputs()?['relativePathParameters']?['apiVersion'])",
              "default": {
                "actions": {
                  "Respond_-_405_Method_Not_Allowed": {
                    "type": "Response",
                    "kind": "PowerApp",
                    "inputs": {
                      "schema": {
                        "type": "object",
                        "properties": {
                          "responsecode": {
                            "title": "responseCode",
                            "type": "string",
                            "x-ms-content-hint": "TEXT",
                            "x-ms-dynamically-added": true
                          },
                          "responsedescription": {
                            "title": "responseDescription",
                            "type": "string",
                            "x-ms-content-hint": "TEXT",
                            "x-ms-dynamically-added": true
                          },
                          "responsebody": {
                            "title": "responseBody",
                            "type": "string",
                            "x-ms-content-hint": "TEXT",
                            "x-ms-dynamically-added": true
                          }
                        },
                        "additionalProperties": {}
                      },
                      "statusCode": 200,
                      "body": {
                        "responsecode": "405",
                        "responsedescription": "Method Not Allowed",
                        "responsebody": "Method Not Allowed"
                      }
                    }
                  },
                  "Upsert_a_row_-_Fail": {
                    "type": "OpenApiConnection",
                    "inputs": {
                      "parameters": {
                        "entityName": "ol_grailapiauditlogs",
                        "recordId": "@outputs('Add_a_new_row_-_API_Audit')?['body/ol_grailapiauditlogid']",
                        "item/ol_responsebody": "@body('Respond_-_405_Method_Not_Allowed')",
                        "item/ol_responsestatuscode": "@body('Respond_-_405_Method_Not_Allowed')?['ResponseCode']"
                      },
                      "host": {
                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                        "operationId": "UpdateRecord",
                        "connectionName": "shared_commondataserviceforapps"
                      }
                    },
                    "runAfter": {
                      "Respond_-_405_Method_Not_Allowed": [
                        "Succeeded"
                      ]
                    }
                  }
                }
              },
              "cases": {
                "v1": {
                  "actions": {
                    "Respond_-_200_Success_v1": {
                      "type": "Response",
                      "kind": "PowerApp",
                      "inputs": {
                        "schema": {
                          "type": "object",
                          "properties": {
                            "responsecode": {
                              "title": "responseCode",
                              "type": "string",
                              "x-ms-content-hint": "TEXT",
                              "x-ms-dynamically-added": true
                            },
                            "responsedescription": {
                              "title": "responseDescription",
                              "type": "string",
                              "x-ms-content-hint": "TEXT",
                              "x-ms-dynamically-added": true
                            },
                            "responsebody": {
                              "title": "responseBody",
                              "type": "string",
                              "x-ms-content-hint": "TEXT",
                              "x-ms-dynamically-added": true
                            }
                          },
                          "additionalProperties": {}
                        },
                        "statusCode": 200,
                        "body": {
                          "responsecode": "200",
                          "responsedescription": "Success",
                          "responsebody": "@{outputs('List_rows_-_GRIAL_Task')?['body/value']}"
                        }
                      }
                    },
                    "Upsert_a_row_-_v1": {
                      "type": "OpenApiConnection",
                      "inputs": {
                        "parameters": {
                          "entityName": "ol_grailapiauditlogs",
                          "recordId": "@outputs('Add_a_new_row_-_API_Audit')?['body/ol_grailapiauditlogid']",
                          "item/ol_responsebody": "@body('Respond_-_200_Success_v1')",
                          "item/ol_responsestatuscode": "@body('Respond_-_200_Success_v1')?['ResponseCode']"
                        },
                        "host": {
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                          "operationId": "UpdateRecord",
                          "connectionName": "shared_commondataserviceforapps"
                        }
                      },
                      "runAfter": {
                        "Respond_-_200_Success_v1": [
                          "Succeeded"
                        ]
                      }
                    }
                  },
                  "case": "v1"
                }
              },
              "runAfter": {
                "List_rows_-_GRIAL_Task": [
                  "Succeeded"
                ]
              }
            },
            "List_rows_-_GRIAL_Task": {
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "entityName": "ol_gr_tasks",
                  "$select": "ol_taskid eq @{triggerBody()?['taskId']}"
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                  "operationId": "ListRecords",
                  "connectionName": "shared_commondataserviceforapps"
                }
              },
              "runAfter": {
                "Add_a_new_row_-_API_Audit": [
                  "Succeeded"
                ]
              }
            },
            "Add_a_new_row_-_API_Audit": {
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "entityName": "ol_grailapiauditlogs",
                  "item/ol_calleraddress": "@triggerOutputs()?['headers']?['X-Original-Host']",
                  "item/ol_correlationid": "@triggerOutputs()?['headers']?['x-ms-correlation-id']",
                  "item/ol_endpoint": "@workflow()?['tags']['flowDisplayName']",
                  "item/ol_httpmethod": "POST",
                  "item/ol_requestbody": "@triggerBody()",
                  "item/ol_requestheaders": "@triggerOutputs()?['headers']",
                  "item/ol_requestorid": "@triggerOutputs()?['headers']?['User-Agent']"
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                  "operationId": "CreateRecord",
                  "connectionName": "shared_commondataserviceforapps"
                }
              }
            }
          },
          "runAfter": {}
        },
        "Scope_-_Error_Handling": {
          "type": "Scope",
          "actions": {
            "Terminate_-_Failed_Main_Scope": {
              "type": "Terminate",
              "inputs": {
                "runStatus": "Failed"
              },
              "runAfter": {
                "Run_a_Child_Flow": [
                  "Succeeded"
                ]
              }
            },
            "Run_a_Child_Flow": {
              "type": "Workflow",
              "inputs": {
                "host": {
                  "workflowReferenceName": "8d5db0d0-fd13-f111-8341-000d3ad482d2"
                },
                "body": {
                  "text": "@workflow()?['tags']['flowDisplayName']",
                  "text_1": "@concat('https://flow.microsoft.com/manage/environments/', workflow()?['tags']['environmentName'], '/flows/', workflow()?['name'], '/runs/', workflow()?['run']['name'])",
                  "text_3": "Yes"
                }
              }
            }
          },
          "runAfter": {
            "Scope_-_Main": [
              "FAILED"
            ]
          }
        }
      }
    },
    "templateName": null
  },
  "schemaVersion": "1.0.0.0"
}