src/solution/Workflows/ScheduledFlow-GetBankHolidays-E449D99E-E516-F111-8342-7C1E52030D20.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "api": {
          "name": "shared_commondataserviceforapps"
        },
        "connection": {
          "connectionReferenceLogicalName": "ol_CRDataverse"
        },
        "runtimeSource": "embedded"
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        }
      },
      "triggers": {
        "Recurrence": {
          "type": "Recurrence",
          "recurrence": {
            "frequency": "Month",
            "interval": 1,
            "startTime": "2026-04-01T04:00:00Z"
          },
          "metadata": {
            "operationMetadataId": "5d55adac-e73f-4423-bed5-4dda549bb898"
          }
        }
      },
      "actions": {
        "Scope_-_Main": {
          "type": "Scope",
          "actions": {
            "HTTP_GET_-_Bank_Holidays": {
              "type": "Http",
              "inputs": {
                "uri": "https://www.gov.uk/bank-holidays.json",
                "method": "GET"
              },
              "runtimeConfiguration": {
                "contentTransfer": {
                  "transferMode": "Chunked"
                }
              }
            },
            "Filter_array_-_Future_dates_only": {
              "type": "Query",
              "inputs": {
                "from": "@body('HTTP_GET_-_Bank_Holidays')?['england-and-wales']?['events']",
                "where": "@greater(parseDateTime(item()?['date'],'en-GB'),formatDateTime(utcNow(),'yyyy-MM-dd'))"
              },
              "runAfter": {
                "HTTP_GET_-_Bank_Holidays": [
                  "Succeeded"
                ]
              }
            },
            "Select_-_HTTP_-_date": {
              "type": "Select",
              "inputs": {
                "from": "@body('Filter_array_-_Future_dates_only')",
                "select": "@item()?['date']"
              },
              "runAfter": {
                "Filter_array_-_Future_dates_only": [
                  "Succeeded"
                ]
              }
            },
            "List_rows_-_GRAIL_Holidays": {
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "entityName": "ol_grailholidaies",
                  "$filter": "@concat(\r\n  'ol_type eq 125250000 and ol_date gt ',\r\n  formatDateTime(utcNow(),'yyyy-MM-dd')\r\n)"
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                  "operationId": "ListRecords",
                  "connectionName": "shared_commondataserviceforapps"
                }
              },
              "runAfter": {
                "Select_-_HTTP_-_date": [
                  "Succeeded"
                ]
              }
            },
            "Select_-_Dataverse_-_date": {
              "type": "Select",
              "inputs": {
                "from": "@outputs('List_rows_-_GRAIL_Holidays')?['body/value']",
                "select": "@formatDateTime(item()?['ol_date'],'yyyy-MM-dd')"
              },
              "runAfter": {
                "List_rows_-_GRAIL_Holidays": [
                  "Succeeded"
                ]
              }
            },
            "Filter_array_-_Dataverse_x_HTTP": {
              "type": "Query",
              "inputs": {
                "from": "@body('Select_-_Dataverse_-_date')",
                "where": "@not(contains(body('Select_-_HTTP_-_date'),item()))"
              },
              "runAfter": {
                "Select_-_Dataverse_-_date": [
                  "Succeeded"
                ]
              }
            },
            "Filter_array_-_HTTP_x_Dataverse": {
              "type": "Query",
              "inputs": {
                "from": "@body('Select_-_HTTP_-_date')",
                "where": "@not(contains(body('Select_-_Dataverse_-_date'),item()))"
              },
              "runAfter": {
                "Select_-_Dataverse_-_date": [
                  "Succeeded"
                ]
              }
            },
            "Apply_to_each_-_Missing_bank_holidays": {
              "type": "Foreach",
              "foreach": "@body('Filter_array_-_HTTP_x_Dataverse')",
              "actions": {
                "Filter_array_-_Get_full_bank_holiday_record": {
                  "type": "Query",
                  "inputs": {
                    "from": "@body('Filter_array_-_Future_dates_only')",
                    "where": "@equals(item()?['date'],items('Apply_to_each_-_Missing_bank_holidays'))"
                  }
                },
                "Add_a_new_row_-_GRAIL_Holidays": {
                  "type": "OpenApiConnection",
                  "inputs": {
                    "parameters": {
                      "entityName": "ol_grailholidaies",
                      "item/ol_date": "@items('Apply_to_each_-_Missing_bank_holidays')",
                      "item/ol_holidayid": "@{items('Apply_to_each_-_Missing_bank_holidays')}_BANK",
                      "item/ol_type": 125250000,
                      "item/ol_reason": "@body('Filter_array_-_Get_full_bank_holiday_record')?[0]?['title']"
                    },
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                      "operationId": "CreateRecord",
                      "connectionName": "shared_commondataserviceforapps"
                    }
                  },
                  "runAfter": {
                    "Filter_array_-_Get_full_bank_holiday_record": [
                      "Succeeded"
                    ]
                  }
                }
              },
              "runAfter": {
                "Filter_array_-_HTTP_x_Dataverse": [
                  "Succeeded"
                ]
              }
            },
            "Apply_to_each_-_Excess_bank_holiday": {
              "type": "Foreach",
              "foreach": "@body('Filter_array_-_Dataverse_x_HTTP')",
              "actions": {
                "Filter_array_-_Get_full_Dataverse_record": {
                  "type": "Query",
                  "inputs": {
                    "from": "@outputs('List_rows_-_GRAIL_Holidays')?['body/value']",
                    "where": "@equals(item()?['ol_date'],items('Apply_to_each_-_Excess_bank_holiday'))"
                  }
                },
                "Delete_a_row_-_GRAIL_Holidays": {
                  "type": "OpenApiConnection",
                  "inputs": {
                    "parameters": {
                      "entityName": "ol_grailholidaies",
                      "recordId": "@body('Filter_array_-_Get_full_Dataverse_record')?[0]?['ol_grailholidayid']"
                    },
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                      "operationId": "DeleteRecord",
                      "connectionName": "shared_commondataserviceforapps"
                    }
                  },
                  "runAfter": {
                    "Filter_array_-_Get_full_Dataverse_record": [
                      "Succeeded"
                    ]
                  }
                }
              },
              "runAfter": {
                "Filter_array_-_Dataverse_x_HTTP": [
                  "Succeeded"
                ]
              }
            }
          },
          "runAfter": {}
        },
        "Scope_-_Error_Handling": {
          "type": "Scope",
          "actions": {
            "Terminate_-_Failed_Main_Scope": {
              "type": "Terminate",
              "inputs": {
                "runStatus": "Failed"
              },
              "runAfter": {
                "Run_a_Child_Flow": [
                  "Succeeded"
                ]
              }
            },
            "Run_a_Child_Flow": {
              "type": "Workflow",
              "inputs": {
                "host": {
                  "workflowReferenceName": "8d5db0d0-fd13-f111-8341-000d3ad482d2"
                },
                "body": {
                  "text": "@workflow()?['tags']['flowDisplayName']",
                  "text_1": "@concat('https://flow.microsoft.com/manage/environments/', workflow()?['tags']['environmentName'], '/flows/', workflow()?['name'], '/runs/', workflow()?['run']['name'])",
                  "text_3": "Yes"
                }
              }
            }
          },
          "runAfter": {
            "Scope_-_Main": [
              "Failed"
            ]
          }
        }
      }
    },
    "templateName": null
  },
  "schemaVersion": "1.0.0.0"
}