src/solution/Workflows/TriggeredFlow-EmptyAccessTeam-C284C010-8A15-F111-8342-7C1E52030D20.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "api": {
          "name": "shared_commondataserviceforapps"
        },
        "connection": {
          "connectionReferenceLogicalName": "ol_CRDataverse"
        },
        "runtimeSource": "embedded"
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "EV Team Template - Read GRAIL Task (ol_EVTeamTemplateReadGRAILTask)": {
          "defaultValue": "3b6d6949-8715-f111-8342-7c1e52030d20",
          "type": "String",
          "metadata": {
            "schemaName": "ol_EVTeamTemplateReadGRAILTask"
          }
        }
      },
      "triggers": {
        "When_a_row_is_added,_modified_or_deleted": {
          "type": "OpenApiConnectionWebhook",
          "description": "When a GRAIL Task is moved to closed (125250200) or cancelled (125250999)",
          "inputs": {
            "parameters": {
              "subscriptionRequest/message": 3,
              "subscriptionRequest/entityname": "ol_gr_task",
              "subscriptionRequest/scope": 4,
              "subscriptionRequest/filteringattributes": "ol_status",
              "subscriptionRequest/filterexpression": "ol_status eq 125250200 or ol_status eq 125250999"
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
              "operationId": "SubscribeWebhookTrigger",
              "connectionName": "shared_commondataserviceforapps"
            }
          },
          "metadata": {
            "operationMetadataId": "7aae23cb-a222-43ee-b18c-560c88b82ffe"
          }
        }
      },
      "actions": {
        "Scope_-_Main": {
          "type": "Scope",
          "actions": {
            "List_rows_-_Teams": {
              "type": "OpenApiConnection",
              "description": "Find the access team for this GRAIL Task record.",
              "inputs": {
                "parameters": {
                  "entityName": "teams",
                  "$select": "teamid,name,_regardingobjectid_value",
                  "$filter": "_regardingobjectid_value eq '@{triggerOutputs()?['body/ol_gr_taskid']}' and teamtype eq 1 and _teamtemplateid_value eq '@{parameters('EV Team Template - Read GRAIL Task (ol_EVTeamTemplateReadGRAILTask)')}'"
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                  "operationId": "ListRecords",
                  "connectionName": "shared_commondataserviceforapps"
                }
              }
            },
            "For_each_-_Team": {
              "type": "Foreach",
              "foreach": "@outputs('List_rows_-_Teams')?['body/value']",
              "actions": {
                "List_rows_-_Users_in_access_team": {
                  "type": "OpenApiConnection",
                  "inputs": {
                    "parameters": {
                      "entityName": "systemusers",
                      "$select": "systemuserid",
                      "fetchXml": "<fetch>\n  <entity name=\"systemuser\">\n    <attribute name=\"systemuserid\" />\n    <link-entity name=\"teammembership\" from=\"systemuserid\" to=\"systemuserid\" intersect=\"true\">\n      <filter>\n        <condition attribute=\"teamid\" operator=\"eq\" value=\"@{items('For_each_-_Team')?['teamid']}\" />\n      </filter>\n    </link-entity>\n  </entity>\n</fetch>"
                    },
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                      "operationId": "ListRecords",
                      "connectionName": "shared_commondataserviceforapps"
                    }
                  }
                },
                "For_each_-_User": {
                  "type": "Foreach",
                  "foreach": "@outputs('List_rows_-_Users_in_access_team')?['body/value']",
                  "actions": {
                    "Perform_a_bound_action_-_remove_user_from_access_team": {
                      "type": "OpenApiConnection",
                      "inputs": {
                        "parameters": {
                          "entityName": "systemusers",
                          "actionName": "Microsoft.Dynamics.CRM.RemoveUserFromRecordTeam",
                          "recordId": "@items('For_each_-_User')?['systemuserid']",
                          "item/Record": "ol_gr_tasks/@{triggerOutputs()?['body/ol_gr_taskid']}",
                          "item/TeamTemplate/teamtemplateid": "@parameters('EV Team Template - Read GRAIL Task (ol_EVTeamTemplateReadGRAILTask)')"
                        },
                        "host": {
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                          "operationId": "PerformBoundAction",
                          "connectionName": "shared_commondataserviceforapps"
                        }
                      }
                    }
                  },
                  "runAfter": {
                    "List_rows_-_Users_in_access_team": [
                      "Succeeded"
                    ]
                  }
                }
              },
              "runAfter": {
                "List_rows_-_Teams": [
                  "Succeeded"
                ]
              }
            }
          },
          "runAfter": {}
        },
        "Scope_-_Error_Handling": {
          "type": "Scope",
          "actions": {
            "Terminate_-_Failed_Main_Scope": {
              "type": "Terminate",
              "inputs": {
                "runStatus": "Failed"
              },
              "runAfter": {
                "Run_a_Child_Flow": [
                  "Succeeded"
                ]
              }
            },
            "Run_a_Child_Flow": {
              "type": "Workflow",
              "inputs": {
                "host": {
                  "workflowReferenceName": "8d5db0d0-fd13-f111-8341-000d3ad482d2"
                },
                "body": {
                  "text": "@workflow()?['tags']['flowDisplayName']",
                  "text_1": "@concat('https://flow.microsoft.com/manage/environments/', workflow()?['tags']['environmentName'], '/flows/', workflow()?['name'], '/runs/', workflow()?['run']['name'])",
                  "text_3": "Yes"
                }
              }
            }
          },
          "runAfter": {
            "Scope_-_Main": [
              "Failed"
            ]
          }
        }
      }
    },
    "templateName": null
  },
  "schemaVersion": "1.0.0.0"
}