src/solution/Workflows/TriggeredFlow-TaskPriorityChange-10FBE2FB-1C17-F111-8342-7C1E52030D20.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "impersonation": {},
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "ol_CRDataverse"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        }
      },
      "triggers": {
        "When_a_row_is_added,_modified_or_deleted": {
          "metadata": {
            "operationMetadataId": "ea223817-f9bb-4ba2-99a9-a0fcc306e7d2"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "parameters": {
              "subscriptionRequest/message": 4,
              "subscriptionRequest/entityname": "ol_gr_task",
              "subscriptionRequest/scope": 4,
              "subscriptionRequest/filteringattributes": "ol_priority",
              "subscriptionRequest/filterexpression": "ol_priority ne 125250999",
              "subscriptionRequest/runas": 3
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
              "operationId": "SubscribeWebhookTrigger",
              "connectionName": "shared_commondataserviceforapps"
            }
          }
        }
      },
      "actions": {
        "Scope_-_Main": {
          "actions": {
            "Run_a_Child_Flow_-_Calculate_Due_Dates": {
              "type": "Workflow",
              "inputs": {
                "host": {
                  "workflowReferenceName": "8e5d4076-0917-f111-8342-7c1e52030d20"
                },
                "body": {
                  "text": "@triggerOutputs()?['body/ol_gr_taskid']"
                }
              }
            },
            "Add_a_new_row_-_Notes": {
              "runAfter": {
                "Run_a_Child_Flow_-_Calculate_Due_Dates": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "528ad611-aea8-41b7-b624-f1df00144288"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "entityName": "annotations",
                  "item/subject": "Priority Changed",
                  "item/notetext": "Priority changed to @{triggerOutputs()?['body/_ol_priority_label']}.",
                  "item/objectid_ol_gr_task@odata.bind": "ol_gr_tasks/@{triggerOutputs()?['body/ol_gr_taskid']}"
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                  "operationId": "CreateRecord",
                  "connectionName": "shared_commondataserviceforapps"
                }
              }
            }
          },
          "runAfter": {},
          "type": "Scope"
        },
        "Scope_-_Error_Handling": {
          "actions": {
            "Terminate_-_Failed_Main_Scope": {
              "runAfter": {
                "Run_a_Child_Flow": [
                  "Succeeded"
                ]
              },
              "type": "Terminate",
              "inputs": {
                "runStatus": "Failed"
              }
            },
            "Run_a_Child_Flow": {
              "type": "Workflow",
              "inputs": {
                "host": {
                  "workflowReferenceName": "8d5db0d0-fd13-f111-8341-000d3ad482d2"
                },
                "body": {
                  "text": "@workflow()?['tags']['flowDisplayName']",
                  "text_1": "@concat('https://flow.microsoft.com/manage/environments/', workflow()?['tags']['environmentName'], '/flows/', workflow()?['name'], '/runs/', workflow()?['run']['name'])",
                  "text_3": "Yes"
                }
              }
            }
          },
          "runAfter": {
            "Scope_-_Main": [
              "Failed"
            ]
          },
          "type": "Scope"
        }
      }
    },
    "templateName": null
  },
  "schemaVersion": "1.0.0.0"
}