src/solution/Workflows/TriggeredFlow-TaskClosed-19F6CAFE-7A1A-F111-8342-7C1E52030D20.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "impersonation": {},
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "ol_CRDataverse"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "EV Team Template - Read GRAIL Task (ol_EVTeamTemplateReadGRAILTask)": {
          "defaultValue": "3b6d6949-8715-f111-8342-7c1e52030d20",
          "type": "String",
          "metadata": {
            "schemaName": "ol_EVTeamTemplateReadGRAILTask",
            "description": "The id of \"Team Template - Read GRAIL Task\". This should not change if part of solution, but is stored as EV as precaution. "
          }
        }
      },
      "triggers": {
        "When_a_row_is_added,_modified_or_deleted": {
          "metadata": {
            "operationMetadataId": "7443ad05-ad29-4d84-bfa5-fe7ffe316a0b"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "parameters": {
              "subscriptionRequest/message": 3,
              "subscriptionRequest/entityname": "ol_bpfgrailtask",
              "subscriptionRequest/scope": 4,
              "subscriptionRequest/filteringattributes": "statuscode",
              "subscriptionRequest/filterexpression": "statuscode ne 1"
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
              "operationId": "SubscribeWebhookTrigger",
              "connectionName": "shared_commondataserviceforapps"
            }
          }
        }
      },
      "actions": {
        "Scope_-_Error_Handling": {
          "actions": {
            "Terminate_-_Failed_Main_Scope": {
              "runAfter": {
                "Run_a_Child_Flow": [
                  "Succeeded"
                ]
              },
              "type": "Terminate",
              "inputs": {
                "runStatus": "Failed"
              }
            },
            "Run_a_Child_Flow": {
              "type": "Workflow",
              "inputs": {
                "host": {
                  "workflowReferenceName": "8d5db0d0-fd13-f111-8341-000d3ad482d2"
                },
                "body": {
                  "text": "@workflow()?['tags']['flowDisplayName']",
                  "text_1": "@concat('https://flow.microsoft.com/manage/environments/', workflow()?['tags']['environmentName'], '/flows/', workflow()?['name'], '/runs/', workflow()?['run']['name'])",
                  "text_3": "Yes"
                }
              }
            }
          },
          "runAfter": {
            "Scope_-_Main": [
              "Failed"
            ]
          },
          "type": "Scope"
        },
        "Scope_-_Main": {
          "actions": {
            "Get_a_row_by_ID": {
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "entityName": "ol_gr_tasks",
                  "recordId": "@triggerOutputs()?['body/_bpf_ol_gr_taskid_value']"
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                  "operationId": "GetItem",
                  "connectionName": "shared_commondataserviceforapps"
                }
              }
            },
            "Condition_-_Check_if_Cancelled_Task": {
              "actions": {
                "Add_a_new_row_-_Notes_-_Cancelled": {
                  "metadata": {
                    "operationMetadataId": "528ad611-aea8-41b7-b624-f1df00144288"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "parameters": {
                      "entityName": "annotations",
                      "item/subject": "Task Closed - Cancelled",
                      "item/objectid_ol_gr_task@odata.bind": "ol_gr_tasks/@{outputs('Get_a_row_by_ID')?['body/ol_gr_taskid']}"
                    },
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                      "operationId": "CreateRecord",
                      "connectionName": "shared_commondataserviceforapps"
                    }
                  }
                },
                "Update_a_row_-_GRAIL_TASK_-_Set_Task_Status_to_Closed_-_Cancelled": {
                  "runAfter": {
                    "Add_a_new_row_-_Notes_-_Cancelled": [
                      "Succeeded"
                    ]
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "parameters": {
                      "entityName": "ol_gr_tasks",
                      "recordId": "@triggerOutputs()?['body/_bpf_ol_gr_taskid_value']",
                      "item/ol_status": 125250201
                    },
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                      "operationId": "UpdateOnlyRecord",
                      "connectionName": "shared_commondataserviceforapps"
                    }
                  }
                }
              },
              "runAfter": {
                "Get_a_row_by_ID": [
                  "Succeeded"
                ]
              },
              "else": {
                "actions": {
                  "Update_a_row_-_GRAIL_TASK_-_Set_Task_Status_to_Closed": {
                    "runAfter": {
                      "Add_a_new_row_-_Notes_-_Closed": [
                        "Succeeded"
                      ]
                    },
                    "type": "OpenApiConnection",
                    "inputs": {
                      "parameters": {
                        "entityName": "ol_gr_tasks",
                        "recordId": "@triggerOutputs()?['body/_bpf_ol_gr_taskid_value']",
                        "item/ol_status": 125250200
                      },
                      "host": {
                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                        "operationId": "UpdateOnlyRecord",
                        "connectionName": "shared_commondataserviceforapps"
                      }
                    }
                  },
                  "Add_a_new_row_-_Notes_-_Closed": {
                    "metadata": {
                      "operationMetadataId": "528ad611-aea8-41b7-b624-f1df00144288"
                    },
                    "type": "OpenApiConnection",
                    "inputs": {
                      "parameters": {
                        "entityName": "annotations",
                        "item/subject": "Task Closed - Completed",
                        "item/objectid_ol_gr_task@odata.bind": "ol_gr_tasks/@{outputs('Get_a_row_by_ID')?['body/ol_gr_taskid']}"
                      },
                      "host": {
                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                        "operationId": "CreateRecord",
                        "connectionName": "shared_commondataserviceforapps"
                      }
                    }
                  }
                }
              },
              "expression": {
                "and": [
                  {
                    "equals": [
                      "@outputs('Get_a_row_by_ID')?['body/ol_status']",
                      125250999
                    ]
                  }
                ]
              },
              "type": "If"
            },
            "List_rows_-_Teams": {
              "runAfter": {
                "Get_a_row_by_ID": [
                  "Succeeded"
                ]
              },
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "entityName": "teams",
                  "$select": "teamid,name,_regardingobjectid_value",
                  "$filter": "_regardingobjectid_value eq '@{outputs('Get_a_row_by_ID')?['body/ol_gr_taskid']}' and teamtype eq 1 and _teamtemplateid_value eq '@{parameters('EV Team Template - Read GRAIL Task (ol_EVTeamTemplateReadGRAILTask)')}'"
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                  "operationId": "ListRecords",
                  "connectionName": "shared_commondataserviceforapps"
                }
              },
              "description": "Find the access team for this GRAIL Task record."
            },
            "For_each_-_Team": {
              "foreach": "@outputs('List_rows_-_Teams')?['body/value']",
              "actions": {
                "List_rows_-_Users_in_access_team": {
                  "type": "OpenApiConnection",
                  "inputs": {
                    "parameters": {
                      "entityName": "systemusers",
                      "$select": "systemuserid",
                      "fetchXml": "<fetch>\n  <entity name=\"systemuser\">\n    <attribute name=\"systemuserid\" />\n    <link-entity name=\"teammembership\" from=\"systemuserid\" to=\"systemuserid\" intersect=\"true\">\n      <filter>\n        <condition attribute=\"teamid\" operator=\"eq\" value=\"@{items('For_each_-_Team')?['teamid']}\" />\n      </filter>\n    </link-entity>\n  </entity>\n</fetch>"
                    },
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                      "operationId": "ListRecords",
                      "connectionName": "shared_commondataserviceforapps"
                    }
                  }
                },
                "For_each_-_User": {
                  "foreach": "@outputs('List_rows_-_Users_in_access_team')?['body/value']",
                  "actions": {
                    "Perform_a_bound_action_-_remove_user_from_access_team": {
                      "type": "OpenApiConnection",
                      "inputs": {
                        "parameters": {
                          "entityName": "systemusers",
                          "actionName": "Microsoft.Dynamics.CRM.RemoveUserFromRecordTeam",
                          "recordId": "@items('For_each_-_User')?['systemuserid']",
                          "item/Record": "ol_gr_tasks/@{triggerOutputs()?['body/_bpf_ol_gr_taskid_value']}",
                          "item/TeamTemplate/teamtemplateid": "@parameters('EV Team Template - Read GRAIL Task (ol_EVTeamTemplateReadGRAILTask)')"
                        },
                        "host": {
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                          "operationId": "PerformBoundAction",
                          "connectionName": "shared_commondataserviceforapps"
                        }
                      }
                    }
                  },
                  "runAfter": {
                    "List_rows_-_Users_in_access_team": [
                      "Succeeded"
                    ]
                  },
                  "type": "Foreach"
                }
              },
              "runAfter": {
                "List_rows_-_Teams": [
                  "Succeeded"
                ]
              },
              "type": "Foreach"
            }
          },
          "runAfter": {},
          "type": "Scope"
        }
      }
    },
    "templateName": null
  },
  "schemaVersion": "1.0.0.0"
}