src/solution/Workflows/TriggeredFlow-HolidayChanges-487BFB44-BA17-F111-8342-7C1E52030D20.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "api": {
          "name": "shared_commondataserviceforapps"
        },
        "connection": {
          "connectionReferenceLogicalName": "ol_CRDataverse"
        },
        "runtimeSource": "embedded"
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        }
      },
      "triggers": {
        "When_a_row_is_added,_modified_or_deleted": {
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "parameters": {
              "subscriptionRequest/message": 7,
              "subscriptionRequest/entityname": "ol_grailholiday",
              "subscriptionRequest/scope": 4,
              "subscriptionRequest/filteringattributes": "ol_date"
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
              "operationId": "SubscribeWebhookTrigger",
              "connectionName": "shared_commondataserviceforapps"
            }
          },
          "metadata": {
            "operationMetadataId": "895f54b2-f36e-4aca-957f-29bbffe29ad4"
          }
        }
      },
      "actions": {
        "Scope_-_Error_Handling": {
          "type": "Scope",
          "actions": {
            "Terminate_-_Failed_Main_Scope": {
              "type": "Terminate",
              "inputs": {
                "runStatus": "Failed"
              },
              "runAfter": {
                "Run_a_Child_Flow": [
                  "Succeeded"
                ]
              }
            },
            "Run_a_Child_Flow": {
              "type": "Workflow",
              "inputs": {
                "host": {
                  "workflowReferenceName": "8d5db0d0-fd13-f111-8341-000d3ad482d2"
                },
                "body": {
                  "text": "@workflow()?['tags']['flowDisplayName']",
                  "text_1": "@concat('https://flow.microsoft.com/manage/environments/', workflow()?['tags']['environmentName'], '/flows/', workflow()?['name'], '/runs/', workflow()?['run']['name'])",
                  "text_3": "Yes"
                }
              }
            }
          },
          "runAfter": {
            "Scope_-_Main": [
              "Failed"
            ]
          }
        },
        "Scope_-_Main": {
          "type": "Scope",
          "actions": {
            "Switch": {
              "type": "Switch",
              "expression": "@triggerOutputs()?['body/SdkMessage']",
              "default": {
                "actions": {
                  "Terminate_-_Cancel": {
                    "type": "Terminate",
                    "inputs": {
                      "runStatus": "Cancelled"
                    }
                  }
                }
              },
              "cases": {
                "Create": {
                  "actions": {
                    "List_rows_-_GRAIL_Tasks_-_Create": {
                      "type": "OpenApiConnection",
                      "inputs": {
                        "parameters": {
                          "entityName": "ol_gr_tasks",
                          "$filter": "(createdon lt @{formatDateTime(startOfDay(triggerOutputs()?['body/ol_date']), 'yyyy-MM-ddTHH:mm:ssZ')} and ol_duedate gt @{formatDateTime(startOfDay(addDays(triggerOutputs()?['body/ol_date'], -14)), 'yyyy-MM-ddTHH:mm:ssZ')}) and (ol_status ne 125250003 and ol_status ne 125250200 and ol_status ne 125250999)"
                        },
                        "host": {
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                          "operationId": "ListRecords",
                          "connectionName": "shared_commondataserviceforapps"
                        },
                        "retryPolicy": {
                          "type": "fixed",
                          "count": 2,
                          "interval": "PT5S"
                        }
                      }
                    },
                    "Update_a_row_-_Store_Previous_Date_-_Create": {
                      "type": "OpenApiConnection",
                      "inputs": {
                        "parameters": {
                          "entityName": "ol_grailholidaies",
                          "recordId": "@triggerOutputs()?['body/ol_grailholidayid']",
                          "x-ms-odata-metadata-full": false,
                          "item/ol_dateprevious": "@triggerOutputs()?['body/ol_date']"
                        },
                        "host": {
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                          "operationId": "UpdateOnlyRecord",
                          "connectionName": "shared_commondataserviceforapps"
                        }
                      },
                      "runAfter": {
                        "List_rows_-_GRAIL_Tasks_-_Create": [
                          "Succeeded"
                        ]
                      }
                    }
                  },
                  "case": "Create"
                },
                "Update": {
                  "actions": {
                    "List_rows_-_GRAIL_Tasks_-_Update": {
                      "type": "OpenApiConnection",
                      "inputs": {
                        "parameters": {
                          "entityName": "ol_gr_tasks",
                          "$filter": "((createdon lt @{formatDateTime(startOfDay(triggerOutputs()?['body/ol_date']), 'yyyy-MM-ddTHH:mm:ssZ')} and ol_duedate gt @{formatDateTime(startOfDay(addDays(triggerOutputs()?['body/ol_date'], -14)), 'yyyy-MM-ddTHH:mm:ssZ')}) or (createdon lt @{formatDateTime(startOfDay(triggerOutputs()?['body/ol_dateprevious']), 'yyyy-MM-ddTHH:mm:ssZ')} and ol_duedate gt @{formatDateTime(startOfDay(addDays(triggerOutputs()?['body/ol_dateprevious'], -14)), 'yyyy-MM-ddTHH:mm:ssZ')})) and (ol_status ne 125250003 and ol_status ne 125250200 and ol_status ne 125250999)"
                        },
                        "host": {
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                          "operationId": "ListRecords",
                          "connectionName": "shared_commondataserviceforapps"
                        },
                        "retryPolicy": {
                          "type": "fixed",
                          "count": 2,
                          "interval": "PT5S"
                        }
                      }
                    },
                    "Update_a_row_-_Store_Previous_Date_-_Update": {
                      "type": "OpenApiConnection",
                      "inputs": {
                        "parameters": {
                          "entityName": "ol_grailholidaies",
                          "recordId": "@triggerOutputs()?['body/ol_grailholidayid']",
                          "x-ms-odata-metadata-full": false,
                          "item/ol_dateprevious": "@triggerOutputs()?['body/ol_date']"
                        },
                        "host": {
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                          "operationId": "UpdateOnlyRecord",
                          "connectionName": "shared_commondataserviceforapps"
                        }
                      },
                      "runAfter": {
                        "List_rows_-_GRAIL_Tasks_-_Update": [
                          "Succeeded"
                        ]
                      }
                    }
                  },
                  "case": "Update"
                },
                "Delete": {
                  "actions": {
                    "List_rows_-_Audit_Log": {
                      "type": "OpenApiConnection",
                      "description": "",
                      "inputs": {
                        "parameters": {
                          "entityName": "audits",
                          "$filter": "_objectid_value eq @{triggerOutputs()?['body/ol_grailholidayid']} and operation eq 3"
                        },
                        "host": {
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                          "operationId": "ListRecords",
                          "connectionName": "shared_commondataserviceforapps"
                        },
                        "retryPolicy": {
                          "type": "fixed",
                          "count": 2,
                          "interval": "PT5S"
                        }
                      },
                      "runAfter": {
                        "Delay_-_10s": [
                          "Succeeded"
                        ]
                      }
                    },
                    "Delay_-_10s": {
                      "type": "Wait",
                      "inputs": {
                        "interval": {
                          "count": 10,
                          "unit": "Second"
                        }
                      }
                    },
                    "Compose": {
                      "type": "Compose",
                      "inputs": "@json(first(outputs('List_rows_-_Audit_Log')?['body/value'])?['changedata'])?['changedAttributes']",
                      "runAfter": {
                        "List_rows_-_Audit_Log": [
                          "Succeeded"
                        ]
                      }
                    },
                    "Filter_array": {
                      "type": "Query",
                      "inputs": {
                        "from": "@outputs('Compose')",
                        "where": "@equals(item()?['logicalName'],'ol_date')"
                      },
                      "runAfter": {
                        "Compose": [
                          "Succeeded"
                        ]
                      }
                    },
                    "List_rows_-_GRAIL_Tasks_-_Delete": {
                      "type": "OpenApiConnection",
                      "inputs": {
                        "parameters": {
                          "entityName": "ol_gr_tasks",
                          "$filter": "(createdon lt @{formatDateTime(startOfDay(body('Filter_array')[0]?['oldValue']), 'yyyy-MM-ddTHH:mm:ssZ')} and ol_duedate gt @{formatDateTime(startOfDay(addDays(body('Filter_array')[0]?['oldValue'], -14)), 'yyyy-MM-ddTHH:mm:ssZ')}) and (ol_status ne 125250003 and ol_status ne 125250200 and ol_status ne 125250999)"
                        },
                        "host": {
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                          "operationId": "ListRecords",
                          "connectionName": "shared_commondataserviceforapps"
                        },
                        "retryPolicy": {
                          "type": "fixed",
                          "count": 2,
                          "interval": "PT5S"
                        }
                      },
                      "runAfter": {
                        "Filter_array": [
                          "Succeeded"
                        ]
                      }
                    }
                  },
                  "case": "Delete"
                }
              }
            },
            "For_each_-_GRAIL_Task": {
              "type": "Foreach",
              "foreach": "@coalesce(outputs('List_rows_-_GRAIL_Tasks_-_Create')?['body/value'],outputs('List_rows_-_GRAIL_Tasks_-_Update')?['body/value'],outputs('List_rows_-_GRAIL_Tasks_-_Delete')?['body/value'])",
              "actions": {
                "Run_a_Child_Flow_-_Calculate_Due_Dates": {
                  "type": "Workflow",
                  "inputs": {
                    "host": {
                      "workflowReferenceName": "8e5d4076-0917-f111-8342-7c1e52030d20"
                    },
                    "body": {
                      "text": "@items('For_each_-_GRAIL_Task')?['ol_gr_taskid']"
                    }
                  }
                }
              },
              "runAfter": {
                "Switch": [
                  "Succeeded"
                ]
              },
              "runtimeConfiguration": {
                "concurrency": {
                  "repetitions": 50
                }
              }
            }
          },
          "runAfter": {}
        }
      }
    },
    "templateName": null
  },
  "schemaVersion": "1.0.0.0"
}