src/solution/Workflows/TriggeredFlow-TaskRequestorChange-96A54CC7-9115-F111-8342-7C1E52030D20.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "ol_CRDataverse"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "EV Team Template - Read GRAIL Task (ol_EVTeamTemplateReadGRAILTask)": {
          "defaultValue": "3b6d6949-8715-f111-8342-7c1e52030d20",
          "type": "String",
          "metadata": {
            "schemaName": "ol_EVTeamTemplateReadGRAILTask",
            "description": "The id of \"Team Template - Read GRAIL Task\". This should not change if part of solution, but is stored as EV as precaution. "
          }
        }
      },
      "triggers": {
        "When_a_row_is_added,_modified_or_deleted": {
          "metadata": {
            "operationMetadataId": "c958ed29-03d3-428c-91ff-12addc9b3ef8"
          },
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "SubscribeWebhookTrigger",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "subscriptionRequest/message": 3,
              "subscriptionRequest/entityname": "ol_gr_task",
              "subscriptionRequest/scope": 4,
              "subscriptionRequest/filteringattributes": "ol_caller"
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "actions": {
        "Scope_-_Error_Handling": {
          "actions": {
            "Terminate_-_Failed_Main_Scope": {
              "runAfter": {
                "Run_a_Child_Flow": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "a3cb5cad-b2b7-48f2-a935-9337a5c80b6b"
              },
              "type": "Terminate",
              "inputs": {
                "runStatus": "Failed"
              }
            },
            "Run_a_Child_Flow": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "ce9ff655-4b9f-4d07-a941-ec41f160d41b"
              },
              "type": "Workflow",
              "inputs": {
                "host": {
                  "workflowReferenceName": "8d5db0d0-fd13-f111-8341-000d3ad482d2"
                },
                "body": {
                  "text": "@workflow()?['tags']['flowDisplayName']",
                  "text_1": "@concat('https://flow.microsoft.com/manage/environments/', workflow()?['tags']['environmentName'], '/flows/', workflow()?['name'], '/runs/', workflow()?['run']['name'])",
                  "text_3": "Yes"
                }
              }
            }
          },
          "runAfter": {
            "Scope_-_Main": [
              "Failed"
            ]
          },
          "metadata": {
            "operationMetadataId": "eb6418f4-0a3e-46b4-bffd-5eaa8c1f059d"
          },
          "type": "Scope"
        },
        "Scope_-_Main": {
          "actions": {
            "List_rows_-_Teams": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "b566c955-adb7-4bd3-be79-2a13ea3c2a12"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_commondataserviceforapps",
                  "operationId": "ListRecords",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                },
                "parameters": {
                  "entityName": "teams",
                  "$select": "teamid,name,_regardingobjectid_value",
                  "$filter": "_regardingobjectid_value eq '@{triggerOutputs()?['body/ol_gr_taskid']}' and teamtype eq 1 and _teamtemplateid_value eq '@{parameters('EV Team Template - Read GRAIL Task (ol_EVTeamTemplateReadGRAILTask)')}'"
                },
                "authentication": "@parameters('$authentication')"
              },
              "description": "Find the access team for this GRAIL Task record."
            },
            "For_each_-_Team": {
              "foreach": "@outputs('List_rows_-_Teams')?['body/value']",
              "actions": {
                "List_rows_-_Users_in_access_team": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "3d4f6563-083e-4392-bf97-ea76223e309d"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_commondataserviceforapps",
                      "operationId": "ListRecords",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "parameters": {
                      "entityName": "systemusers",
                      "$select": "systemuserid",
                      "fetchXml": "<fetch>\n  <entity name=\"systemuser\">\n    <attribute name=\"systemuserid\" />\n    <link-entity name=\"teammembership\" from=\"systemuserid\" to=\"systemuserid\" intersect=\"true\">\n      <filter>\n        <condition attribute=\"teamid\" operator=\"eq\" value=\"@{items('For_each_-_Team')?['teamid']}\" />\n      </filter>\n    </link-entity>\n  </entity>\n</fetch>"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                },
                "For_each_-_User": {
                  "foreach": "@outputs('List_rows_-_Users_in_access_team')?['body/value']",
                  "actions": {
                    "Perform_a_bound_action_-_remove_user_from_access_team": {
                      "runAfter": {},
                      "metadata": {
                        "operationMetadataId": "97e0580b-b5f6-4ed0-9dcc-42779472d123"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "parameters": {
                          "entityName": "systemusers",
                          "actionName": "Microsoft.Dynamics.CRM.RemoveUserFromRecordTeam",
                          "recordId": "@items('For_each_-_User')?['systemuserid']",
                          "item/Record": "ol_gr_tasks/@{triggerOutputs()?['body/ol_gr_taskid']}",
                          "item/TeamTemplate/teamtemplateid": "@parameters('EV Team Template - Read GRAIL Task (ol_EVTeamTemplateReadGRAILTask)')"
                        },
                        "host": {
                          "connectionName": "shared_commondataserviceforapps",
                          "operationId": "PerformBoundAction",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                        }
                      }
                    }
                  },
                  "runAfter": {
                    "List_rows_-_Users_in_access_team": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "0ef3065b-9cde-4b6f-adc1-370528192d61"
                  },
                  "type": "Foreach"
                }
              },
              "runAfter": {
                "List_rows_-_Teams": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "23282401-e9cc-4691-8789-a6b572c16e90"
              },
              "type": "Foreach"
            },
            "Condition_-_Check_for_new_Caller": {
              "actions": {
                "Perform_a_bound_action_-AddUserToRecordTeam": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "e6dab1f7-1b79-4b32-9d43-e249fa2e5724"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "parameters": {
                      "entityName": "systemusers",
                      "actionName": "Microsoft.Dynamics.CRM.AddUserToRecordTeam",
                      "recordId": "@triggerOutputs()?['body/_ol_caller_value']",
                      "item/Record": "ol_gr_tasks/@{triggerOutputs()?['body/ol_gr_taskid']}",
                      "item/TeamTemplate/teamtemplateid": "@parameters('EV Team Template - Read GRAIL Task (ol_EVTeamTemplateReadGRAILTask)')"
                    },
                    "host": {
                      "connectionName": "shared_commondataserviceforapps",
                      "operationId": "PerformBoundAction",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    }
                  }
                },
                "Get_a_row_by_ID_-_User_record": {
                  "runAfter": {
                    "Perform_a_bound_action_-AddUserToRecordTeam": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "9aa96793-4c7f-4810-a4c4-fb48c2d0c765"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_commondataserviceforapps",
                      "operationId": "GetItem",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "parameters": {
                      "entityName": "systemusers",
                      "recordId": "@triggerOutputs()?['body/_ol_caller_value']",
                      "x-ms-odata-metadata-full": false,
                      "$select": "fullname"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                },
                "Add_a_new_row_-_Notes": {
                  "runAfter": {
                    "Get_a_row_by_ID_-_User_record": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "528ad611-aea8-41b7-b624-f1df00144288"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_commondataserviceforapps",
                      "operationId": "CreateRecord",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
                    },
                    "parameters": {
                      "entityName": "annotations",
                      "item/subject": "Requestor Changed",
                      "item/notetext": "Requestor changed to @{outputs('Get_a_row_by_ID_-_User_record')?['body/fullname']}.",
                      "item/objectid_ol_gr_task@odata.bind": "ol_gr_tasks/@{triggerOutputs()?['body/ol_gr_taskid']}"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                }
              },
              "runAfter": {
                "For_each_-_Team": [
                  "Succeeded"
                ]
              },
              "expression": {
                "and": [
                  {
                    "equals": [
                      "@empty(triggerOutputs()?['body/_ol_caller_value'])",
                      "@false"
                    ]
                  }
                ]
              },
              "metadata": {
                "operationMetadataId": "aa074008-78e1-4bb7-ad69-a1956e0f9f71"
              },
              "type": "If"
            }
          },
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "36805b7a-f68e-4a9d-aacb-713dbd17907d"
          },
          "type": "Scope"
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}